* {
    box-sizing: border-box;
}

html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0px;
}




/*
        TOPBAR
*/


.Topbar__logo {
    min-width: 135px;
    max-width: 135px;
    font-size: 30px;
    font-weight:bold;
}

.Topbar {
    display: flex;
    padding: 40px 124px;
    align-items: center;
}

.Topbar__nav{
    min-width: 127px;
    max-height: 48px;
    line-height: 48px;
    
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    
}

.Topbar__nav a {
    color: black;
    padding: 8px 15px;

}


/*
        HEADER
*/

.header {
    display: flex;
    padding: 40px 124px;
    margin: auto;
}

.header-h2 {
    font-size: 48px;
}

.header-h1 {
    font-size: 20px;
    font-weight: bold;
}

.header__bttn {
    color: #FFFFFF;
  background-color: black;
  padding: 8px 16px;
  font-weight: bold;
  padding: 5px 30px;
}

.header__bttn--white {
    color: black;
    background-color: white;
    padding: 8px 16px;
    font-weight: bold;
    padding: 5px 30px;
    border: 2px solid black;
}

.header__image {
    min-width: 670px;
    min-height: 450px;
    max-width: 670px;
    max-height: 450px;
   
}


/*
        SERVICES

*/


.services{
    margin-top: auto;
}
.services__tittle {
    font-size: 30px;
    text-align: center;
}

.services__paragraph {
    font-size: 15px;
    text-align: center;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
}
.services__list {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;

}


/*
        About Me
*/


.aboutme {
    font-size: 30px;
    text-align: center;
    margin: auto;
    
}

.aboutme__paragraph {
    font-size: 15px;
    text-align: center;
    width: 56%;
    margin-left: auto;
    margin-right: auto;
}

.aboutme_list {
    
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;

    
}


/*
    My Portfolio
*/

.myportfolio__list {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

/*
    Core Design Skills
*/

.progressbar__style {
    display: flex;
    justify-content:space-evenly;
}

.progressbar__style--details {
    flex-direction: column;
    display: flex;
}


/*
    Get in touch
*/

.getInTouch__style {
    display: flex;
    flex-direction: column;
}

.getInTouch__Tittle {
    font-size: 30px;
    font-weight: bold;
}

/*

        UTILITIES
*/

.background-pink {
    background-color: #FFD3D0;
}

.color-brand-red {
    color: red;
}

.color-pink {
    color: #FFD3D0;
}

.color_white {
    color: #FFFFFF;
}

.color_black {
    color:black
}
.background_black {
    background-color: black;
}



.bttn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}





.lets__talk {
    color: #FFFFFF;
    background-color: black;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 10%;
}


.sectionStyle {
    margin: auto;
    padding: 0;
    border: 0px;
}

.color-bg-mix{    
        background: rgb(239,210,208);    
        background: linear-gradient(180deg, rgba(239,210,208,1) 34%, rgba(255,255,255,1) 34%); 
    }
    
    



.text_size_list {
    font-size: 15px;
    font-weight: lighter;
}

.margin__list {
    margin-left: 10px;
    margin-right: 10px;
}

.align__items {
    align-items: center;
}

.h5 {
    font-size: 15;
}


.section__tittle {
    font-size: 30px;
    text-align: center;
}

.flexdirection {
    flex-direction: column;

}

ul {
    list-style: none;
    justify-content: space-between;
}

.maxwith {
    max-width: 330px;
}


.a__style {
    font-weight: bold;
    font-size: 20px;
    color: black;
}


.a, .a:visited {
    color: black;
    text-decoration: none;
}

