html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/*
        TOPBAR
*/


.Topbar__logo {
    min-width: 135px;
    max-width: 135px;
}

.Topbar {
    display: flex;
    padding: 40px 124px;
    align-items: center;
}

.Topbar__nav{
    min-width: 127px;
    max-height: 48px;
    line-height: 48px;
    
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 8px 30px;
    
}

.Topbar__nav a {
    color: black;
    padding: 8px 15px;

}


/*
        HEADER
*/

.header {
    display: flex;
    padding: 40px 124px;
    margin: auto;
}

.header-h2 {
    font-size: 48px;
}

.header-h1 {
    font-size: 20px;
    font-weight: bold;
}

.header__bttn {
    color: #FFFFFF;
  background-color: black;
  padding: 8px 16px;
  font-weight: bold;
  padding: 5px 30px;
}

.header__bttn--white {
    color: black;
    background-color: white;
    padding: 8px 16px;
    font-weight: bold;
    padding: 5px 30px;
    border: 2px solid black;
}

.header__image {
    min-width: 670px;
    min-height: 450px;
    max-width: 670px;
    max-height: 450px;
}


/*
        SERVICES
*/
.services__tittle {
    font-size: 30px;
    text-align: center;
}

.services__paragraph {
    font-size: 15px;
    text-align: center;
}
.services__list {
    display: flex;
    justify-content: center;
}



/*

        OTHERS
*/

.background-pink {
    background-color: #FFD3D0;
}

.color-brand-red {
    color: red;
}

.color_white {
    color: #FFFFFF;
}
.color_services {
    background-color: white;
}
.color_black {
    color:black
}
.background_black {
    background-color: black;
}



.bttn {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;   

}

.cta{
  color: #FFFFFF;
  background-color: black;
  padding: 8px 16px;
  font-weight: bold;
  border-radius: 10%;
}









